<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>You're offline</title>
</head>

<body>
    <header>
        <nav>
            <a href="http://localhost:3000/">Filmaholic</a>
            <label for="">Search</label>
            <input type="text" placeholder="Search movie.." id="find-movies">
        </nav>
        <section>
            <div class="dropdown">
                <button class="dropbtn">Sort</button>
                <div class="dropdown-content">
                    <button class="alphabetical">Alphabetical</button>
                    <button class="vote-average">Votes</button>
                    <button class="release-date">Date</button>
                </div>
            </div>
            <button>Filters</button>
        </section>
    </header>

    <p>JE BENT OFFLINE. PANIEK!</p>
</body>

</html>